<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="l-main">
  <section class="update-project">
    <div class="container">
      <h1>Update Project</h1>
      <form action="/updateProject/<%= project._id %>" method="post">
        <div class="form-group">
          <label for="projectTitle">Project Title:</label>
          <input type="text" id="projectTitle" name="projectTitle" value="<%= project.title %>" required>
        </div>
        <div class="form-group">
          <label for="projectDescription">Project Description:</label>
          <textarea id="projectDescription" name="projectDescription" required><%= project.description %></textarea>
        </div>
        <div class="form-group">
          <label for="projectStatus">Status:</label>
          <select id="projectStatus" name="projectStatus">
            <option value="ongoing" <% if (project.status === 'ongoing') { %>selected<% } %>>Ongoing</option>
            <option value="finished" <% if (project.status === 'finished') { %>selected<% } %>>Finished</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit">Update</button>
        </div>
      </form>
    </div>
  </section>
</main>

<%- include partials/footer.ejs %>